.form {
  margin-top: 2rem;
  background: var(--clr-white);
  max-width: 600px;
  padding: 2rem 2.5rem;
  border-radius: var(--radius);
}
label {
  display: block;
  text-transform: capitalize;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--clr-grey-5);
  font-size: 1.15rem;
}
input[type='text'] {
  width: 100%;
  background: var(--clr-grey-10);
  border-color: transparent;
  padding: 0.35rem 0.75rem;
  border-radius: var(--radius);
  font-size: 1.25rem;
}
.submit-btn {
  width: 100%;
  background: var(--clr-primary-5);
  margin-top: 1.5rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  border-color: transparent;
  font-size: 1rem;
  color: var(--clr-white);
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.submit-btn:hover {
  background: var(--clr-primary-3);
}

.result {
  margin-top: 3rem;
}
.result h3 {
  margin-bottom: 1.5rem;
}
.result p {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}
.alert {
  color: var(--clr-red-dark);
  margin-bottom: 0;
  margin-top: 1rem;
  display: none;
}
